- content_for(:title) do
  Настройки
- content_for(:head) do
  = stylesheet_link_tag "jquery.Jcrop"
  = javascript_include_tag "jquery.Jcrop.min"
  %script{:charset => "utf-8", :type => "text/javascript"}
    $(function() {
    $('#cropbox').Jcrop({
    onChange: update_crop,
    onSelect: update_crop,
    setSelect: [0, 0, 500, 500],
    aspectRatio: 1
    });
    });

    function update_crop(coords) {
    var rx = 100/coords.w;
    var ry = 100/coords.h;
    $('#preview').css({
    width: Math.round(rx * #{@user.avatar_geometry(:large).width}) + 'px',
    height: Math.round(ry * #{@user.avatar_geometry(:large).height}) + 'px',
    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
    marginTop: '-' + Math.round(ry * coords.y) + 'px'
    });
    var ratio = #{@user.avatar_geometry(:original).width} / #{@user.avatar_geometry(:large).width};
    $("#crop_x").val(Math.round(coords.x * ratio));
    $("#crop_y").val(Math.round(coords.y * ratio));
    $("#crop_w").val(Math.round(coords.w * ratio));
    $("#crop_h").val(Math.round(coords.h * ratio));
    }
.container.box.edit_profile
  %h2
    Настройки

  = image_tag @user.avatar.url(:large), :id => "cropbox",  class: "img-rounded"

  .form(style="margin-top: 15px;")
    = form_for @user, url: registration_path(resource_name), html: { method: :put } do |f|
      - for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]
        = f.hidden_field attribute, :id => attribute
      = f.submit "Сохранить", class: "btn btn-default"
