- content_for(:title) do
  Настройки
- content_for(:data_no_turbolink) do
  true

.container.box.edit_profile

  %h2
    Настройки

  %div
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "main", "data-toggle" => "tab", :href => "#main", :role => "tab"} Учётная запись
      %li{:role => "presentation"}
        %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#avatar", :role => "tab"} Фотография пользователя
      %li{:role => "presentation"}
        %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#password", :role => "tab"} Пароль
      %li{:role => "presentation"}
        %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#design", :role => "tab"} Дизайн
      %li{:role => "presentation"}
        %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#delete", :role => "tab"} Удалить аккаунт

    = devise_error_messages!

    .tab-content
      #main.tab-pane.active{:role => "tabpanel"}
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          .row
            .col-md-6
              .form-group
                = f.label :email, class: "control-label"
                = f.email_field :email, autofocus: true, class: "form-control"
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %div
                  Currently waiting confirmation for: #{resource.unconfirmed_email}
            .col-md-6
              .form-group
                = f.label :username, disabled: true, class: "control-label"
                = f.text_field :username, disabled: true, class: "form-control"

          .form-group
            = f.label :last_name, class: "control-label"
            = f.text_field :last_name, autocomplete: "off", class: "form-control"
          .form-group
            = f.label :first_name, class: "control-label"
            = f.text_field :first_name, autocomplete: "off", class: "form-control"
          .form-group
            = f.label :middle_name, class: "control-label"
            = f.text_field :middle_name, autocomplete: "off", class: "form-control"
          .form-group
            = f.label :city, class: "control-label"
            %br
            = f.collection_select :city_id, City.more_zero_schools, :id, :full_name, include_blank: true, class: "form-control"
          .form-group
            = f.label :school, class: "control-label"
            %br
            = f.grouped_collection_select :school_id, City.more_zero_schools, :schools, :full_name, :id, :name, include_blank: true, class: "form-control"
          .form-group
            = f.label :phone, class: "control-label"
            %br
            = f.telephone_field :phone, class: "form-control"
          .form-group
            = f.label :activities, class: "control-label"
            = f.text_area :activities, class: "form-control", rows: 5
          .form-group
            = f.label :interests, class: "control-label"
            = f.text_area :interests, class: "form-control", rows: 5
          .form-group
            = f.label :music, class: "control-label"
            = f.text_area :music, class: "form-control", rows: 5
          .form-group
            = f.label :films, class: "control-label"
            = f.text_area :films, class: "form-control", rows: 5
          .form-group
            = f.label :books, class: "control-label"
            = f.text_area :books, class: "form-control", rows: 5
          .form-group
            = f.label :quotations, class: "control-label"
            = f.text_area :quotations, class: "form-control", rows: 5
          .form-group
            = f.label :about, class: "control-label"
            = f.text_area :about, class: "form-control", rows: 5

          = f.submit "Обновить", class: "btn btn-default"

      #password.tab-pane{:role => "tabpanel"}
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          .form-group
            = f.label :password, "Новый пароль", class: "control-label"
            = f.password_field :password, autocomplete: "off", class: "form-control"
          .form-group
            = f.label :password_confirmation, class: "control-label"
            = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
          %hr
          .form-group
            = f.label :current_password, "Текущий пароль", class: "control-label"
            %i (Нам нужен ваш текущий пароль для сохранения изменений)
            = f.password_field :current_password, autocomplete: "off", class: "form-control"

          = f.submit "Обновить", class: "btn btn-default"

      #avatar.tab-pane{:role => "tabpanel"}
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          .form-group
            = image_tag current_user.avatar.url(:large)
            = f.label :avatar, "Загрузить новую фотографию пользователя", class: "control-label"
            = f.file_field :avatar

          = f.submit "Обновить", class: "btn btn-default"
          .pull-right
            = link_to "Удалить фотографию", delete_avatar_path, method: :delete, class: "btn btn-default"

      #design.tab-pane{:role => "tabpanel"}
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          .form-group
            = f.label :background_color, class: "control-label"
            = f.text_field :background_color, class: "color form-control"
          .row
            .col-md-4
              .form-group
                = f.label :background_image, class: "control-label"
                = f.file_field :background_image
            .col-md-6
              .form-group
                = link_to "Удалить фоновое изображение", delete_background_image_path, method: :delete, class: "btn btn-default"
          .form-group
            = f.label :background_fixed, "Положение фона", class: "control-label"
            = f.collection_select :background_fixed, [[-1, "слева"], [0, "по центру"], [1, "справа"]], :first, :last, {include_blank: false}, {class: "form-control"}
          .form-group
            = f.check_box :background_attachment
            = f.label :background_attachment, "Зафиксировать фоновое изображение", calss: "control-label"


          = f.submit "Обновить", class: "btn btn-default"

      #delete.tab-pane{:role => "tabpanel"}
        .form-group
          %p
            %h5 Вы уверены? После удаления, аккаунт нельзя будет восстановить.
            = button_to "Удалить мой аккаунт", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Вы уверены? После удаления, аккаунт нельзя будет восстановить." }, method: :delete
