- content_for(:title) do
  Создать свой сайт
- content_for(:data_no_turbolink) do
  true

.container.box(style="max-width: 620px; padding: 5px 20px 25px 20px;  margin-top: 17px;")
  %h2
    %center Создать свой сайт
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!

    .form-group
      = f.label :email, class: "control-label"
      = f.email_field :email, autofocus: true, class: "form-control"

    .form-group
      = f.label :username, class: "control-label"
      %br
      %em
        (Только латиница, внимание, после создания нельзя будет изменить название сайта)
      = f.text_field :username, autocomplete: "off", value: "", class: "form-control"

    .form-group
      = f.label :last_name, class: "control-label"
      = f.text_field :last_name, class: "form-control", value: ""

    .form-group
      = f.label :first_name, class: "control-label"
      = f.text_field :first_name, class: "form-control", value: ""

    .form-group
      = f.label :middle_name, class: "control-label"
      = f.text_field :middle_name, class: "form-control", value: ""

    .form-group
      = f.label :city, class: "control-label"
      %br
      = f.collection_select :city_id, City.more_zero_schools, :id, :full_name, include_blank: true, selected: nil, class: "form-control"

    .form-group
      = f.label :school, class: "control-label"
      %br
      = f.grouped_collection_select :school_id, City.more_zero_schools, :schools, :full_name, :id, :name, include_blank: true, class: "form-control"

    .form-group
      = f.label :phone, class: "control-label"
      %br
      = f.telephone_field :phone, class: "form-control"

    .form-group
      = f.label :password, class: "control-label"
      - if @minimum_password_length
        %em
          (минимум #{@minimum_password_length} символов)
      = f.password_field :password, autocomplete: "off", class: "form-control"

    .form-group
      = f.label :password_confirmation, class: "control-label"
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"

    .form-group
      %i Зарегистрировавшись вы принимаете условия #{link_to "пользовательского соглашения", terms_url(subdomain: false), target: "_blank"}.
    .pull-left
      = f.submit "Создать", class: "btn btn-default"
    .pull-right
      = render "devise/shared/links"
