.container.box(style="max-width: 620px; padding: 5px 20px 25px 20px;  margin-top: 17px;")
  %h2 Изменить пароль
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .form-group
      = f.label :password, "Новый пароль", class: "control-label"
      - if @minimum_password_length
        %em
          (минимум #{@minimum_password_length} символов)
      = f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control"
    .form-group
      = f.label :password_confirmation, "Confirm new password", class: "control-label"
      %br/
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
    .form-group
      = f.submit "Изменить мой пароль"
  = render "devise/shared/links"
