.container.box(style="max-width: 620px; padding: 5px 20px 25px 20px;  margin-top: 17px;")
  %h2
    %center Забыли пароль?
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .form-group
      = f.label :email, class: "control-label"
      = f.email_field :email, autofocus: true, class: "form-control"
    .form-group
      = f.submit "Далее", class: "btn btn-default"
  = render "devise/shared/links"
