= render partial: "shared/time_ago", locals: {post: post}
.infobox
  %span.shared_and_options
    %script{:charset => "utf-8", :src => "//yastatic.net/share/share.js", :type => "text/javascript"}
    %span.yashare-auto-init{"data-yasharel10n" => "ru", "data-yasharequickservices" => "vkontakte,facebook,twitter,odnoklassniki,moimir", "data-yasharetheme" => "counter", "data-yasharetype" => "small"}
  - if user_signed_in?
    - if request.subdomain.blank?
      - if current_user.admin?
        %span
          = link_to 'Изменить', edit_lenta_post_path(post), class: "btn btn-link btn-xs"
          = link_to 'Удалить', lenta_post_path(post), :method => :delete, :data => { :confirm => 'Вы уверены' }, class: "btn btn-link btn-xs"
    - else
      %span
        = link_to 'Изменить', edit_post_path(post), class: "btn btn-link btn-xs"
        = link_to 'Удалить', post_path(post), :method => :delete, :data => { :confirm => 'Вы уверены' }, class: "btn btn-link btn-xs"
