.post_item
  %h3
    = link_to post.title, lenta_post_path(post), class: "link"

  = render partial: "shared/time_ago", locals: {post: post}
  -# = render partial: 'infobox', locals: {post: post}
  -# .body= raw HTML_Truncator.truncate(sanitize(post.body), 100, escape: false)
  -# = link_to lenta_post_path(post) do
    -# .more
    -#   Подробнее
    -#   %span.glyphicon.glyphicon-chevron-right
