-# - content_for(:title) do
-#   = @user.first_name
-#   = @user.last_name
-#   \|
-#   Блог
- content_for(:data_no_turbolink) do
  true

- content_for(:title) do
  Новости образования

- content_for(:description) do
  Всегда актуальные новости образования Российской Федерации и не только.

.container
  .posts_box
    %h1.main_posts_h
      Новости образования
      - if user_signed_in? && current_user.admin?
        = link_to new_lenta_post_path, class: "btn btn-default btn-smarty" do
          Добавить запись
          %span.glyphicon.glyphicon-plus
    #my-posts
      = render @posts
    #infinite-scrolling
      = will_paginate
