.container.box
  %h1 Новая запись

  - content_for(:data_no_turbolink) do
    true

  = form_for @post, url: lenta_path do |f|
    - if @post.errors.any?
      #error_explanation
        %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
        %ul
          - @post.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.text_field :title, placeholder: "Название", class: "form-control"
    .form-group
      = f.label :body, style: "display: none;r"
      = f.text_area :body, class: "wysihtml5 form-control", id: "some-textarea", rows: 30
    .form-group
      = f.submit 'Сохранить', class: "btn btn-default"
