- content_for(:title) do
  = @post.title

- content_for(:description) do
  = sanitize strip_tags @post.body


.container.post_box.box(style="margin-top: 15px; padding: 35px; padding-top: 14px;")
  .post
    %h1.main_post_h
      = @post.title

    = render partial: 'shared/infobox.html', locals: {post: @post}
    .body
      = sanitize @post.body
    = render partial: 'shared/infobox.html', locals: {post: @post}

    .row(style="margin-top: 6px; margin-bottom: 6px;")
      .col-md-6
        - if @post.previous
          = link_to lenta_post_path(@post.previous), {title: @post.previous.title} do
            <<
            = @post.previous.title.first(50)+"..."
      .col-md-6(style="text-align: right;")
        - if @post.next
          = link_to lenta_post_path(@post.next), {title: @post.next.title} do
            = @post.next.title.first(50)+"..."
            >>

    - disqus_thread @post.id
