- content_for(:title) do
  О проекте tchr.ru

- content_for(:description) do
  tchr.ru - это социальный сервис, позволяющий любому преподавателю создать свой личный сайт совершенно бесплатно.Главной особенностью tchr.ru является то, что создавать сайты имеют право только учителя и администрация школ.

.whoami.container
  .center.ptandb
    %h1 О проекте
  .about
    %p #{link_to "tchr.ru", root_url} - это социальный сервис, позволяющий любому преподавателю  #{link_to "создать", new_user_registration_url} свой личный сайт совершенно бесплатно.Главной особенностью tchr.ru является то, что создавать сайты имеют право только учителя и администрация школ.

  = image_tag 'about_computers.png', class: "img-responsive about-img", alt: "tchr.ru - сайт для учителей"
  .row.YYYY
    .col-md-3
      = image_tag 'Y-77.jpg', class: "img-rounded y-img", alt: "Создать сайт"
      %h3 Создать сайтs
    .col-md-3
      = image_tag 'Y-77.jpg', class: "img-rounded y-img", alt: "Использовать бесплатно"
      %h3 Использовать бесплатно
    .col-md-3
      = image_tag 'Y-77.jpg', class: "img-rounded y-img", alt: "Общение с преподавателями РМ"
      %h3 Общение с преподавателями РМ
    .col-md-3
      = image_tag 'Y-77.jpg', class: "img-rounded y-img", alt: "Актуальные новости"
      %h3 Актуальные новости

  .q
    %h2 Сложно ли заполнять сайт и вести блог?
    %p Наполнение сайта информацией не требует от Вас никаких особых знаний и умений. Пользоваться #{link_to "tchr.ru", root_url} не сложнее, чем социальными сетями.

  .q
    %h2 Какие темы можно публиковать в блоге?
    %p Вы можете размещать:
    %ul
      %li фото и видеоотчеты школьной жизни;
      %li Дополнительная литература для учеников;
      %li Методические пособия и планы урков;
      %li Лучшие работы учеников;
      %li Поздравления именинников;
      %li Проведение конкурсов среди посетителей сайта;
      %li Таблицы для быстрого усвоения материала;
      %li Расписание звонков и домашние задания.
    %p Как видите, список тем ограничивается только Вашей фантазией.

  .q
    %h2 Что можно делать на #{link_to "tchr.ru", root_url}?
    %p Вы имеете возможность публиковать статьи, вести личный блог, добавлять изображения, просматривать сайты других учителей, подписываться на актуальные новости Образовательных организаций Республики, отвечать на комментарии и оставлять свои под публикациями коллег.

  .q
    %h2 Кто будет читать мой сайт?
    %p Страница Вашего сайта будет доступна любому посетителю #{link_to "tchr.ru", root_url}. Это могут быть ученики, учителя и другие пользователи интернета.

  .q
    %h2 Сколько стоит создать личный сайт на #{link_to "tchr.ru", root_url}?
    %p Использование #{link_to "tchr.ru", root_url} абсолютно бесплатно.

  .q
    %h2 В чем выгода участия в проекте?
    %p Здесь вы можете завести новые знакомства, перенять опыт у других учителей, следить за актуальными новостями и обновлениями Министерства образования и других образовательных органов Страны!
