.body-enter
  .container.sub
    .row
      .col-md-8
        %h1
          Создай личный сайт на tchr.ru!
        .embed-video(rel="5v2NdwcP7IY")
          .fa.fa-play.fa-5(style="padding-left: 215px; padding-top: 151px; font-size: 39px; color: black;")
      .col-md-4
        .box(style="margin-top: 43px; padding-top: 20px; padding-bottom: 22px;")
          = form_tag session_path(:user) do
            .form-group
              = text_field_tag 'user[email]', nil, placeholder: "email", autofocus: true, class: "form-control"
            .form-group
              = password_field_tag 'user[password]', nil, placeholder: "Пароль", class: "form-control"
            .form-group
              .pull-left
                = check_box_tag 'user[remember_me]'
                = label_tag 'user[remember_me]', "Запомнить меня"
              .pull-right
                = link_to "Забыли пароль?", new_password_path(:user)
            %button.btn.btn-default.btn-block Войти
            = link_to "Создать свой сайт", new_user_registration_url(subdomain: false), class: "btn btn-default btn-smarty btn-block", style: "padding: 8px; margin-top: 8px;"

.partners
  .container
    .row
      .col-md-3.upx
        = link_to "http://i-mordovia.ru/", target: "_blank" do
          .block.air
      .col-md-3.upx
        = link_to "http://xn--80abucjiibhv9a.xn--p1ai/", target: "_blank"  do
          .block.minobrRF
      .col-md-3.upx
        = link_to "http://www.e-mordovia.ru/", target: "_blank"  do
          .block.minobrRM
      .col-md-3.upx
        = link_to "http://www.obrnadzor.gov.ru/", target: "_blank"  do
          .block.obrnadzor


.index-b-1.container
  .row
    .col-md-7.info
      %h2 Что такое #{link_to "tchr.ru", root_url}?
      %p Проект #{link_to "tchr.ru", root_url} – это ресурс, при помощи которого каждый педагог может создать свой личный сайт.
    .col-md-5.none
      .img-b1

.index-b-1.container.down
  .row
    .col-md-6.info
      %h2 Сколько стоит создать личный сайт на #{link_to "tchr.ru", root_url}?
      %p Использование#{link_to "tchr.ru", root_url} абсолютно бесплатно. Мы не берем плату за использование функционала #{link_to "tchr.ru", root_url}.
    .col-md-6.none
      .img-b2


.index-footer
  %center
    %p Присоединяйтесь к более чем 10 000 преподавателей Страны.
    %p Создай сайт бесплатно! Сейчас!
    = link_to "Создать сайт - бесплатно", new_user_registration_url, class: "btn btn-lg btn-default btn-to-su"
