- content_for(:title) do
  Правила сайта

- content_for(:description) do
  Сайт tchr.ru – это сетевой проект для учителей и репетиторов. Администрация Сайта предоставляет Вам доступ к использованию Сайта tchr.ru и его функционала на условиях, являющихся предметом настоящих Правил пользования Сайтом tchr.ru. В этой связи Вам необходимо внимательно ознакомиться с условиями настоящих Правил.

.container.box(style="max-width: 1020px; padding: 15px 25px 30px 25px; margin-top: 17px;")
  .terms
    %h1 Правила пользования Сайтом tchr.ru
    %p Добро пожаловать на Сайт #{link_to "tchr.ru", root_path}, интернет-ресурс, который помогает Вам поддерживать связь с Вашими Учениками и Коллегами. Сайт #{link_to "tchr.ru", root_path} – это сетевой проект для учителей и репетиторов.
    %p Администрация Сайта предоставляет Вам доступ к использованию Сайта #{link_to "tchr.ru", root_path} и его функционала на условиях, являющихся предметом настоящих Правил пользования Сайтом #{link_to "tchr.ru", root_path}. В этой связи Вам необходимо внимательно ознакомиться с условиями настоящих Правил.

    %h1 Пользовательское соглашение
    %p Copyright &copy; 2015 tchr.ru
    %p ДАННОЕ ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ ПРЕДОСТАВЛЯЕТСЯ «КАК ЕСТЬ», БЕЗ КАКИХ-ЛИБО ГАРАНТИЙ, ЯВНО ВЫРАЖЕННЫХ ИЛИ ПОДРАЗУМЕВАЕМЫХ, ВКЛЮЧАЯ ГАРАНТИИ ТОВАРНОЙ ПРИГОДНОСТИ, СООТВЕТСТВИЯ ПО ЕГО КОНКРЕТНОМУ НАЗНАЧЕНИЮ И ОТСУТСТВИЯ НАРУШЕНИЙ, НО НЕ ОГРАНИЧИВАЯСЬ ИМИ. НИ В КАКОМ СЛУЧАЕ АВТОРЫ ИЛИ ПРАВООБЛАДАТЕЛИ НЕ НЕСУТ ОТВЕТСТВЕННОСТИ ПО КАКИМ-ЛИБО ИСКАМ, ЗА УЩЕРБ ИЛИ ПО ИНЫМ ТРЕБОВАНИЯМ, В ТОМ ЧИСЛЕ, ПРИ ДЕЙСТВИИ КОНТРАКТА, ДЕЛИКТЕ ИЛИ ИНОЙ СИТУАЦИИ, ВОЗНИКШИМ ИЗ-ЗА ИСПОЛЬЗОВАНИЯ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ ИЛИ ИНЫХ ДЕЙСТВИЙ С ПРОГРАММНЫМ ОБЕСПЕЧЕНИЕМ.
