- users.each do |user|
  = link_to root_user_url(subdomain: user.username) do
    .user_l
      = image_tag user.avatar.url(:small), class: "img-rounded user_avatar_l"
      .name
        = user.last_name
        = user.first_name
        = user.middle_name
        .rating
          Рейтинг
          = "%4.1f" % user.calculate_the_rating
