- content_for(:title) do
  Каталог
- content_for(:data_no_turbolink) do
  true

.container.box(style="max-width: 1020px; padding: 15px 25px 30px 25px; margin-top: 17px;")
  .catalog
    %center
      %h1 Каталог
      %p Здесь вы можете найти любого учителя
    .row
      .col-md-7
        %h3 Поиск по городу
        .panel-group#accordion(role="tablist" aria-multiselectable="true")
          %ul
            - @citys.each do |c|
              - if !c.schools.empty?
                %li.city_l(id="#{c.full_name}")
                  %b
                    %a.city_l(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_#{c.id}" aria-expanded="true" aria-controls="collapse_#{c.id}")= c.full_name
                    %a(name="#{c.name}")
                  .h
                  %div(id="collapse_#{c.id}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne")
                    %ul(id="#{c.full_name}")
                      - c.schools.each do |s|
                        %li(id="#{s.id}")= link_to s.name, catalogs_by_school_url(id: s.id)
      .col-md-5
        %h3 Новые пользователи
        = render partial: "catalog/users", locals: {users: @users}
