- content_for(:title) do
  = @school.name

.container.box(style="max-width: 1020px; padding: 15px 25px 30px 25px; margin-top: 17px;")
  .catalog
    = link_to "Школы", catalogs_url
    >
    %b= @school.name
    .h
    - if !@users.empty?
      %ul
        = render partial: "catalog/users", locals: {users: @users}

    - else
      %center(style="padding: 45px;")
        %h3 Никто из #{@school.name} не зарегистрировался
        = link_to "Вернутся в каталог", catalogs_url
