- content_for(:title) do
  Вход

.container.box(style="max-width: 620px; padding: 5px 20px 25px 20px; margin-top: 17px;")
  %h2
    %center Войти
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group
      = f.label :email, class: "control-label"
      = f.email_field :email, autofocus: true, class: "form-control"
    .form-group
      = f.label :password, class: "control-label"
      = f.password_field :password, autocomplete: "off", class: "form-control"
    - if devise_mapping.rememberable?
      .form-group
        = f.check_box :remember_me
        = f.label :remember_me, "Запомнить меня"
    .pull-left
      = f.submit "Войти", class: "btn btn-default"
  .pull-right
    = render "devise/shared/links"
