- content_for(:title) do
  = @user.first_name
  = @user.last_name
  \|
  Фото

.container.box
  - if @photos.count != 0
    .bloc
      %h3
        фотографий
        (#{@photos.count})
      - if has_user_access?
        %button.btn.btn-default.btn-smarty{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
          Добавить фото
          %span.glyphicon.glyphicon-plus

  - else
    %center
      - if has_user_access?
        .warning(style="margin-top: 35px")
          %p
            %b У вас пока нет фотографий
          %button.btn.btn-link.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
            Добавить фото
      - else
        .warning(style="margin-top: 35px")
          %p
            %b
              У #{@user.first_name} #{@user.last_name} пока нет фотографий




  .posts
    .my-gallery{:itemscope => "", :itemtype => "http://schema.org/ImageGallery"}
      - @photos.each do |p|
        - width, height = p.dimensions
        %figure{:itemprop => "associatedMedia", :itemscope => "", :itemtype => "http://schema.org/ImageObject"}
          %a{"data-size" => "#{width}x#{height}", :href => p.photo.url(:normal), :itemprop => "contentUrl"}
            %img{alt: p.description, :itemprop => "thumbnail", :src => p.photo.url(:small)}/
          %figcaption{:itemprop => "caption description"}
            .pswp__caption_content
              %p
                = p.description
                %br
                %small= p.created_at.to_formatted_s(:short)

              = link_to "Комментарий", p
              - if has_user_access?
                \|
                = link_to "Удалить", photo_path(p), method: :delete, :data => { :confirm => 'Вы уверены' }




    .pswp{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      /
        Background of PhotoSwipe.
        It's a separate element, as animating opacity is faster than rgba().
      .pswp__bg
      / Slides wrapper with overflow:hidden.
      .pswp__scroll-wrap
        / Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory.
        / don't modify these 3 pswp__item elements, data is added later on.
        .pswp__container
          .pswp__item
          .pswp__item
          .pswp__item
        / Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
        .pswp__ui.pswp__ui--hidden
          .pswp__top-bar
            / Controls are self-explanatory. Order can be changed.
            .pswp__counter
            %button.pswp__button.pswp__button--close{:title => "Close (Esc)"}
            %button.pswp__button.pswp__button--share{:title => "Share"}
            %button.pswp__button.pswp__button--fs{:title => "Toggle fullscreen"}
            %button.pswp__button.pswp__button--zoom{:title => "Zoom in/out"}
            / Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
            / element will get class pswp__preloader--active when preloader is running
            .pswp__preloader
              .pswp__preloader__icn
                .pswp__preloader__cut
                  .pswp__preloader__donut
          .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
            .pswp__share-tooltip
          %button.pswp__button.pswp__button--arrow--left{:title => "Previous (arrow left)"}
          %button.pswp__button.pswp__button--arrow--right{:title => "Next (arrow right)"}
          .pswp__caption
            .pswp__caption__center




:javascript
  initPhotoSwipeFromDOM('.my-gallery');

#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Добавить новую фотографию
      .modal-body
        = form_for @photo, :html => { :multipart => true, method: :post } do |f|
          .form-group(style="font-size: 10pt;")
            = f.label :photo, "Выберите фото"
            = f.file_field :photo
          .form-group(style="font-size: 10pt;")
            = f.label :description, "Описание"
            = f.text_area :description, class: "form-control"
          = f.submit "Сохранить", class: "btn btn-default"
