.container.box(style="max-width: 550px; margin-top: 30px;")
  %h2 Добавить новую фотографию
  = form_for @photo, :html => { :multipart => true, method: :post } do |f|
    .form-group
      = f.label :photo, "Выберите фото"
      = f.file_field :photo
    .form-group
      = f.label :description, "Описание"
      = f.text_area :description, class: "form-control"
    = f.submit "Сохранить", class: "btn btn-default"
