.container(style="padding: 0; max-width: 910px; background-color: white;")
  .photo-box
    = image_tag @photo.photo.url(:normal), class: "img-responsive", style: "width: 100%;"
    .description
      %p
        = @photo.description
        %br
        %small= @photo.created_at.to_formatted_s(:short)
      = link_to "Удалить", photo_path(@photo), method: :delete, :data => { :confirm => 'Вы уверены' } if has_user_access?
    .comments
      - disqus_thread @photo.id
