.container.box
  %h1
    Изменить запись
    .pull-right= link_to 'Удалить', @post, :method => :delete, :data => { :confirm => 'Вы уверены' }, class: "btn btn-xs btn-danger"

  = render 'form'

  = link_to 'Просмотреть', @post
