-# - content_for(:title) do
-#   = @user.first_name
-#   = @user.last_name
-#   \|
-#   Блог

.box
  - if @posts.count != 0
    .posts_box
      %h1.main_posts_h
        Блог
        - if has_user_access?
          = link_to new_post_path, class: "btn btn-default btn-smarty" do
            Добавить запись
            %span.glyphicon.glyphicon-plus
    #my-posts
      = render @posts
    #infinite-scrolling
      = will_paginate

  - else
    %center
      - if has_user_access?
        .warning(style="margin-top: 35px")
          %p
            %b У вас пока нет записей в блоге
          = link_to new_post_path, class: "btn btn-link btn-lg" do
            Добавить запись
      - else
        .warning(style="margin-top: 35px")
          %p
            %b
              У #{@user.first_name} #{@user.last_name} пока нет записей в блоге
