- content_for(:title) do
  = @post.title
  
- content_for(:description) do
  = sanitize strip_tags @post.body

.container.box(style="margin-top: 15px; padding: 35px; padding-top: 14px;")
  .post
    %h1
      = @post.title

    = render partial: 'shared/infobox.html', locals: {post: @post}
    .body
      = sanitize @post.body
    = render partial: 'shared/infobox.html', locals: {post: @post}

    - disqus_thread @post.id
