/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require jquery.minicolors
 *= require bootstrap-wysihtml5
 */
// $brand-primary:  darken(#D50A30, 6.5%);
$border-radius-small: 2px;
$border-radius-base: 3px;
$border-radius-large: 5px;
$grid-gutter-width: 10px;


 @import "bootstrap-sprockets";
 @import "bootstrap";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
body {
  // max-width: 100%;
}


.edit_profile {
  width: 75%;
  padding: 5px 20px 35px 20px;
  h2 {
    margin-bottom: 15px;
  }
  .tab-pane {
    padding-top: 10px;
  }
  .form-group {
    padding-left: 5px;
    padding-right: 5px;
  }
  input.btn {
    margin-left: 5px;
    margin-right: 5px;
  }
}


body {
    background-color: #F5F8FA;
}

footer {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.my-nav-1 {
  // border-bottom: 1px solid #ccc;
  background: white;
  box-shadow: 0 0 1px rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin-bottom: 0;
}

.profile {
  background: white;
  padding: 6px;
  margin-top: 8px;
  border-radius: 5px;
  border: 1px solid #e2e8ed;
}

.box {
  padding: 15px 15px 15px 15px;
  background: white;
  margin-top: 12px;
  border-radius: 3px;
  border: 1px solid #e2e8ed;
}

a.add_link {
  color: #333;
  &:hover {
    text-decoration: none;
    font-size: 102%;
  }
}

.nav {
  a {
    color: #888;
  }
}

.navbar-default .navbar-nav > li > a.username {
  font-weight: bold;
  color: #428bca;
  &:hover {
    color: #3877AD;
  }
}

.nav>li>a:hover {
  background-color: #F9F9F9;
}


.navbar-right.nav a {
      color: #7D7D7D;
      font-weight: 500;
  }


img {
  display: block;
  max-width: 100%;
  height: auto;
}


h1 {
  color: #414d4c;
  font: bold 30px Trebuchet MS,sans-serif;
}

.btn-smarty {
  color: $link-color;
  border-color: $link-color;
  &:hover {
    color: $link-hover-color;
    border-color: $link-hover-color;
    background-color: white;
  }
}
.navbar-default .navbar-nav > li > a.btn-smarty {
  color: $link-color;
}
.warning {
  font-size: 150%;
  padding: 25px;
}


a.logo {
  font-size: 2em;
  font-weight: bold;
  color: $link-color;
}
.navbar-default .navbar-nav > li > a.logo {
  color: $link-color;
}

img.logo {
  height: 44px;
  width: auto;
}


.alert {
  margin-top: 10px;
  margin-bottom: 10px;
}
