// Place all the styles related to the catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li.city_l {
  margin: 4px;
}

li.city_l a.city_l {
  color: #414d4c;
}


.user_l {
  margin-top: 5px;
  margin-bottom: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  height: 61px;
  img.user_avatar_l {
    float: left;
    width: 50px;
    height: 50px;
  }
  .name {
    padding-left: 57px;
    .rating {
      color: rgba(0, 0, 0, 0.30);
      font-size: 11px;
      text-align: left;
      &:hover { text-decoration: none; }
    }
  }
}
