// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
  padding: 10px;
}
h1.main_posts_h {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 2.65em;
}
h1.main_post_h {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: normal;
  font-size: 2.7em;
}
.last_blog_posts {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: normal;
  font-size: 1.7em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
}
.post_item {
  padding: 18px 0 20px 0;
  overflow: hidden;
  border-top: 1px solid #D8DCDF;
  padding-left: 1px;
  .modal-dialog {
    width: 1000px;
    margin: 30px auto;
  }

  h3 {
    font-weight: bold !important;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    text-transform: none !important;
    line-height: normal;
    margin: 0;
  }
  a.link {
    color: #414d4c;
    cursor: pointer;
    &:hover {
      color: #428bca;
      text-decoration: none;
    }
  }
}
.post {
  padding-bottom: 15px;
  margin-bottom: 15px;
  padding-top: 5px;
  h1 {
    margin-top: -1px;
    margin-bottom: 0;
  }
  .more {
    width: 100%;
    height: 50px;
    background: #EFF1F9;
    text-align: center;
    padding: 15px;
  }
  a.link {
    color: #414d4c;
    &:hover {
      color: #428bca;
      text-decoration: none;
    }
  }
  .body {
    margin-bottom: 15px;
  }
}


.time_ago {
  color: #8c96a0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  padding-left: 1px;
  margin: 2px 0;
}

.infobox {
  margin-bottom: 13px;
  margin-top: 4px;
}
