// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_image {
  display: block;
  float: left;
  width: 105px;
  height: 105px;
  margin: 2px;
  border-radius: 6px;
}


.rating {
  text-align: center;
  font-size: 36px;
  line-height: 32px;
  mini {
    font-size: 15px;
    line-height: 15px;
    color: #ccc;
  }
}

.box.info {
  padding-left: 25px;
  padding-right: 25px;
  .what {text-align: right;}
  .row {
    margin-bottom: 10px;
  }
  small {
    color: #555;
  }
  p {
    white-space: pre-wrap;
  }
}
