// Place all the styles related to the Static controller here..body-enter
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
.body-enter {
  // box-shadow: 0 0 1px rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  padding-top: 25px;
  padding-bottom: 65px;
  // background: #F5F8FA;
  background: white;
  margin-top: 1px;

  .embed-video {
    width: 460px;
    height: 345px;
    background-repeat: no-repeat;
    background-size: 460px 345px;
    background-image: image-url("embed-video-img.png");

    border-radius: 3px;
    border: 1px groove rgba(255, 255, 255, 0.79);

    opacity: 0.6;
    background-color: #000;

    &:hover {
      opacity: 0.95;
      background-color: #000;

      cursor: pointer;
    }
  }

  ul.b-e-ul {
    font-size: 18px;
    font-weight: 350;
    li {
      line-height: 32px;
    }
  }

  ul.b-e-ul  {
    list-style: none;
  }
  ul.b-e-ul  li {
      position: relative;
  }
  ul.b-e-ul li:after {
      content: '\2714';
      position: absolute;
      top: -2px;
      left: -22px;
      color: green;
      font-size: 28px;
  }
}


.catalog {
  .h {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    margin-bottom: 5px;
  }
  li b {font-size: 120%;}
}

.whoami {
  .center.ptandb {
    h1 {
      width: auto;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 33px;
    }
  }

  .about {
    max-width: 650px;
    text-align: center;
    margin: 0 auto;
    line-height: 28px;
    font-size: 18px;
  }

  .q {
    max-width: 980px;
    margin: 10px auto;
    padding-bottom: 12px;
  }
  img.about-img {
    margin: 100px auto;
    @media (min-width:650px) {
      padding-left: 134px;
    }
  }
  img.y-img {
    margin: 25px auto;
  }
  .YYYY {
    max-width: 1000px;
    margin: 15px auto;
    margin-bottom: 80px;
    h3 {
      text-align: center;
      color: $link-color;
      font-size: 19px;
    }
  }
}

.index-b-1 {
  font-family: 'PT Sans', sans-serif;
  p {
    font-size: 20px;
    color: #6c6c6c;
    line-height: 32px;
  }
  h2 {font-size: 28px; margin-bottom: 45px;}
  margin-top: 35px;
  $block-height: 500px;
  @media (min-width: 990px) {
    height: $block-height;
    .down {
      margin-top: 70px;
    }
  }
  .img-b1 {
    display: block;
    position:relative;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 875px 500px;
    width: 875px;
    height: 500px;
    background-image: asset-url('index-b1.jpg');
  }
  .img-b2 {
    @extend .img-b1;
    background-size: 968px 500px;
    width: 968px;
    background-image: asset-url('index-b2.jpg');
  }
  .info {
    padding-top: $block-height/6-25;
    padding-right: 50px;
  }

  @media (max-width: 990px) {
    .none {
      display: none;
    }
  }
}
@media (min-width: 990px) {
  .down {
    margin-top: 80px;
  }
}

.index-footer {
  background-color: #323a45;
  margin-top: 75px;
  .btn-to-su {
    margin-top: 25px;
     background-color: #ff3366;
     border: 1px solid #ff4455;
     color: white;
     &:hover {
       background-color: #EA2455;
       border: 1px solid #ff4455;
       color: white;
     }
  }
  padding-top: 85px;
  padding-bottom: 95px;
  p {
    color: white;
    font-size: 29px;
    @media (max-width: 990px) {
      font-size: 24px;
    }
  }
}

@media (max-width: 990px) {
  .upx {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
