 @import "bootstrap";

.terms {
  h1 {
    font-size: 118%;
    border-bottom: 1px solid #ccc;
  }
}

.posts_box {
  margin-top: 32px;
}

body.sub {
  background-color: white;
  overflow-x:hidden;
  .my-nav-1 {
    box-shadow: none;
    border: 0;

  }
  .post_box.box {
    -webkit-box-shadow: 0px 3px 5px 1px rgba(194, 194, 194, 0.38);
    -moz-box-shadow: 0px 3px 5px 1px rgba(194, 194, 194, 0.38);
    box-shadow: 0px 3px 5px 1px rgba(194, 194, 194, 0.38);
  }
  .box {
    -webkit-box-shadow: 0px 5px 15px 1px rgba(143,143,143,0.65);
    -moz-box-shadow: 0px 5px 15px 1px rgba(143,143,143,0.65);
    box-shadow: 0px 5px 15px 1px rgba(143,143,143,0.65);
  }
  .body-enter h1 a {
    color: #333;
    text-shadow: 2px 1px 3px rgba(150, 150, 150, 0.6);
    font-size: 2.5em;
    &:hover {
      text-decoration: none;
      color: #4E4E4E;
    }
  }
  .body-enter h1 {

    color: #333;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    @media (max-width: 415px) {
      font-size: 36px;
    }
    font-size: 25px;
    font-weight: bold;
    min-height: 49px;
    margin-bottom: 1px;
    padding-left: 17px;
    line-height: 49px;
    //margin-bottom: 30px;
    //margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: left;
    text-rendering: optimizeLegibility;
    text-shadow: none;
    max-width: 470px;
  }
  p.sub {
    color: #333;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 300;
    // height: 186px;
    line-height: 31px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: left;
    text-shadow: none;
    max-width: 470px;
  }
  p.free {
    color: #333;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 300;
    max-width: 470px;
    span {font-size: 23px; text-decoration: underline;}
  }
  @media (min-width: 1200px) {
    .container.sub { width: 1130px;}
  }

  .partners {
    min-height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #EAEAEA;
    .block {
      height: 50px;
      min-width: 50px;
      background-repeat: no-repeat;
      background-origin: content-box;
      background-size: contain;
      background-position: center;
    }
    .air {
      background-image: asset-url('air-logo-black.png');
      &:hover {
        background-image: asset-url('air-logo.png')
      }
    }
    .minobrRF {
      background-image: asset-url('gerb_minobr-black.png');
      &:hover {
        background-image: asset-url('gerb_minobr1.png')
      }
    }
    .minobrRM {
      background-image: asset-url('mordov_logo-black.gif');
      &:hover {
        background-image: asset-url('mordov_logo.gif')
      }
    }
    .obrnadzor {
      background-image: asset-url('orel-black.png');
      &:hover {
        background-image: asset-url('orel.png')
      }
    }
  }
}
