- content_for(:title) do
  = @user.first_name
  = @user.last_name

.row
  .col-md-4
    .box(style="padding-top: 8px;")
      %center
        = image_tag @user.avatar.url(:profile), class: "img-rounded"
        = link_to "Загрузить фото", edit_user_registration_url(anchor: "avatar", subdomain: false) if has_user_access?
        %h1
          = @user.first_name
          = @user.last_name

        .row
          .col-md-4
            .rating
              %mini Записей
              %p(style="color: #6c6;")
                - if @user.posts.count >= 10000
                  10k+
                - else
                  = @user.posts.count
          .col-md-4
            .rating
              %mini Рейтинг
              %p(style="color: #c6c;")
                = "%4.1f" % @user.calculate_the_rating

          .col-md-4
            .rating
              %mini Фотографий
              %p(style="color: #6692CC;")
                - if @user.photos.count >= 10000
                  10k+
                - else
                  = @user.photos.count



  .col-md-8
    .box.info
      %b(style="color: #6692CC; padding-left: 5px;")
        = @user.last_name
        = @user.first_name
        = @user.middle_name
      %hr(style="margin-top: 2px;")
      .row
        .col-md-2.what
          %small Город:
        .col-md-8
          = link_to @user.city.name, "#{catalogs_url(subdomain: false)}##{@user.city.name}"
      - unless  @user.school.nil?
        .row
          .col-md-2.what
            %small Школа:
          .col-md-8
            = link_to @user.school.name, catalogs_by_school_url(id: @user.school.id, subdomain: false)
      - if !@user.phone.blank?
        .row
          .col-md-2.what
            %small Телефон:
          .col-md-8
            %p= @user.phone
      - if !@user.activities.blank?
        .row
          .col-md-2.what
            %small Деятельность:
          .col-md-8
            %p= @user.activities
      - if !@user.interests.blank?
        .row
          .col-md-2.what
            %small Интересы:
          .col-md-8
            %p= @user.interests
      - if !@user.music.blank?
        .row
          .col-md-2.what
            %small Любимая музыка:
          .col-md-8
            %p= @user.music
      - if !@user.films.blank?
        .row
          .col-md-2.what
            %small Любимые фильмы:
          .col-md-8
            %p= @user.films
      - if !@user.books.blank?
        .row
          .col-md-2.what
            %small Любимые книги:
          .col-md-8
            %p= @user.books
      - if !@user.quotations.blank?
        .row
          .col-md-2.what
            %small Любимые цитаты:
          .col-md-8
            %p= @user.quotations
      - if !@user.about.blank?
        .row
          .col-md-2.what
            %small О себе:
          .col-md-8
            %p= @user.about


    .box
      - if @posts.count != 0
        .posts
          .last_blog_posts
            %span Последние записи в блоге
            - if has_user_access?
              = link_to new_post_path, class: "btn btn-default btn-xs btn-smarty" do
                Добавить запись
                %span.glyphicon.glyphicon-plus
          - @posts.each do |post|
            .post
              %h1
                = link_to post.title, post, class: "link"
              = render partial: "shared/time_ago", locals: {post: post}
              .body= truncate(sanitize(post.body), length: 850, escape: false)
              = link_to post do
                .more
                  Подробнее
                  %span.glyphicon.glyphicon-chevron-right
      - else
        %center
          - if has_user_access?
            .warning(style="margin-top: 35px")
              %p
                %b У вас пока нет записей в блоге
              = link_to new_post_path, class: "btn btn-link btn-lg" do
                Добавить запись
          - else
            .warning(style="margin-top: 35px")
              %p
                %b
                  У #{@user.first_name} #{@user.last_name} пока нет записей в блоге
