- if flash[:notice]
  .alert.alert-success.alert-dismissible(role="alert")
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    = flash[:notice]
- if flash[:alert]
  .alert.alert-warning.alert-dismissible(role="alert")
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    = flash[:alert]
- if flash[:error]
  .alert.alert-danger.alert-dismissible(role="alert")
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    = flash[:error]
