%footer(style="margin-top: 35px;")
  = link_to "главная", root_url(subdomain: false), class: "btn btn-link btn-sm"
  = link_to "о сайте", about_url(subdomain: false), class: "btn btn-link btn-sm"
  = link_to "правила", terms_url(subdomain: false), class: "btn btn-link btn-sm"
  %br
  = link_to "tchr.ru", root_url(subdomain: false), style: "color: #333;"
  &copy;
  = Time.now.year

  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66932258-1', 'auto');
    ga('send', 'pageview');

  / Google Tag Manager
  %noscript
    %iframe{:height => "0", :src => "//www.googletagmanager.com/ns.html?id=GTM-W6QF7R", :style => "display:none;visibility:hidden", :width => "0"}
  :javascript
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W6QF7R');
  / End Google Tag Manager
