- if content_for?(:description)
  %meta{name: "description", content: yield(:description)}
- else
  - if !request.subdomain.empty?
    %meta{name: "description", content: @user.about}
  - else
    %meta{name: "description", content: "tchr.ru - интернет-ресурс, который помогает учителям поддерживать связь с Учениками и Коллегами, а репетиторам, находить новых учеников. tchr.ru – это сетевой проект для учителей и репетиторов, позволяющий создать личный сайт."}



%meta{name: "keywords", content: "Сайт для учителей, Конструктор сайтов для учителей, Конструктор сайтов, Конструктор сайтов для репетиторов, Сайт для Репетиторов, Найти учителя, Найти репетитора"}


= favicon_link_tag "/apple-icon-57x57.png", :rel => "apple-touch-icon"
= favicon_link_tag "/apple-icon-60x60.png", :rel => "apple-touch-icon"
= favicon_link_tag "/apple-icon-72x72.png", :rel => "apple-touch-icon"
= favicon_link_tag "/apple-icon-76x76.png", :rel => "apple-touch-icon"
= favicon_link_tag "/apple-icon-114x114.png", :rel => "apple-touch-icon"
= favicon_link_tag "/apple-icon-120x120.png", :rel => "apple-touch-icon"
= favicon_link_tag "/apple-icon-144x144.png", :rel => "apple-touch-icon"
= favicon_link_tag "/apple-icon-152x152.png", :rel => "apple-touch-icon"
= favicon_link_tag "/apple-icon-180x180.png", :rel => "apple-touch-icon"
= favicon_link_tag "/android-icon-192x192.png", :rel => "icon", :type => "image/png"
= favicon_link_tag "/favicon-32x32.png", :rel => "icon", :type => "image/png"
= favicon_link_tag "/favicon-96x96.png", :rel => "icon", :type => "image/png"
= favicon_link_tag "/favicon-16x16.png", :rel => "icon", :type => "image/png"
= favicon_link_tag "/manifest.json", :rel => "manifest"
%meta{:content => "#ffffff", :name => "msapplication-TileColor"}/
%meta{:content => "#ffffff", :name => "theme-color"}/
