%nav.navbar.navbar-default.my-nav-1
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_url(subdomain: false), style: "padding: 3px; 5px 0 10px; margin-left: 10px;", class: "navbar-brand" do
        = image_tag "logo.png", class: "logo"
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if request.subdomain != ""
          - user = User.find_by_username(request.subdomain)
          %li= link_to user.first_name+" "+user.last_name, root_user_path, class: "username"
          %li= link_to "Фотографии", photos_path
          %li= link_to "Блог", posts_path
        - else
          %li= link_to "tchr.ru", root_path, class: "logo"
      -# %form.navbar-form.navbar-left{:role => "search"}
      -#   .form-group
      -#     %input.form-control{:placeholder => "Search", :type => "text"}/
      -#   %button.btn.btn-default{:type => "submit"} Submit
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Учителя", catalogs_url(subdomain: false)
        %li= link_to "Новости образования", lenta_url(subdomain: false)
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.username
              %span.caret
            %ul.dropdown-menu
              %li= link_to "Профиль", root_user_url(subdomain: current_user.username)
              %li= link_to "Настройки", edit_user_registration_url(subdomain: false)
              %li.divider{:role => "separator"}
              %li= link_to "Выйти", sign_out_path, method: :delete
        - else
          %li= link_to "Войти", new_user_session_url(subdomain: false)
          %li= link_to "Создать свой сайт", new_user_registration_url(subdomain: false), class: "btn btn-default btn-smarty", style: "padding: 8px; margin-top: 6px; margin-left: 5px;"
