!!! 5
%html(lang="ru")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = render partial: "layouts/meta"
    %title
      - if content_for?(:title)
        = yield(:title)
        \|
        tchr.ru
      - else
        tchr.ru
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "https://js.stripe.com/v1/"
    = javascript_include_tag "application"
    = disqus_init
    = yield(:head)

    - if !request.subdomain.empty? || controller.controller_name == 'registrations'
      - case @user.background_fixed
      - when -1
        - @fixed = "left"
      - when 0
        - @fixed = "center"
      - when 1
        - @fixed = "right"
      :css
        body {
          background-color: #{@user.background_color};
          background-image: url(#{@user.background_image.url});
          background-repeat: no-repeat;
          background-position: top #{@fixed};
          background-attachment: #{"fixed" if @user.background_attachment};
        }


  %body(data-no-turbolink="#{content_for?(:data_no_turbolink) ? yield(:data_no_turbolink) : 'false'}")
    = render partial: "layouts/navbar"
    .container
      = render partial: "layouts/flash"

    .container
      = yield
    .container.footer
      = render partial: "layouts/footer"
